.hidden {
    display: none;
}

@font-face {
    font-family: 'chelaone-regular';
    src: url('../fonts/chelaone-regular-webfont.woff'),
         url('../fonts/chelaone-regular.webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'chelaone-regular', Arial, sans-serif;
    font-size: 125px;
    color: #FFFFFF;
    padding-top: 15px;
}

#mainHeader {
    width: 965px;
    height: 195px;
    background: #2398ff;
    background: -moz-linear-gradient(top, #2398ff 0%, #60bfff 100%);
    background: -webkit-linear-gradient(top, #2398ff 0%,#60bfff 100%);
    background: linear-gradient(to bottom, #2398ff 0%,#60bfff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2398ff', endColorstr='#60bfff',GradientType=0 );
    text-align: center;
    position: relative;
    margin: 0 auto;
    border: 3px;
    border-color: #2377FF;
    border-style: inset;
}

#titleBox {
    width: 700px;
    height: 150px;
    background-color: #0869B2;
    position: absolute;
    margin-left: 135px;
    margin-top: 22px;
    border-radius: 25px;
}


#container {
    margin: 0 auto;
    width: 970px;
    height: 800px;
    display: flex;
    flex-direction: row;
}

#infoTop {
    height: 70px;
    width: 970px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.infoConTop {
    width: 485px;
    height: 68px;
    border: 3px;
    border-bottom: 0px;
    border-style: inset;
    border-color: #2377FF;
    background: #2398ff;
    background: -moz-linear-gradient(top, #2398ff 0%, #60bfff 100%);
    background: -webkit-linear-gradient(top, #2398ff 0%,#60bfff 100%);
    background: linear-gradient(to bottom, #2398ff 0%,#60bfff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2398ff', endColorstr='#60bfff',GradientType=0 );
}

.infoConTop p {
    font-size: 30px;
    margin-top: 15px;
    font-family: 'chelaone-regular', Arial, sans-serif;
}

#iconButtons {
    height: 707px;
    width: 185px;
    background-color: #60BFFF;
    border: 3px;
    border-top: 0px;
    border-color: #2377FF;
    border-style: inset;
    display: flex;
    flex-direction: column;
}


#iconButtons img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding: 24px 0px;
}

#treeCon {
    width: 400px;
    height: 650px;
    padding: 60px 95px 0px 95px;
    background-color: #0869B2;
}

#iconsCon {
    width: 185px;
    height: 707px;
    background-color: #60BFFF;
    border: 3px;
    border-top: 0px;
    border-color: #2377FF;
    border-style: inset;
    display: flex;
    flex-direction: column;
}

.iconsImages {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 38.5px 0px;
}

